@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: local("SatoshiRegular"), url("./assets/fonts/SatoshiRegular.woff") format("woff");
}

* {
    font-family: "Satoshi";
}